<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Icon Viewer</title>
    <link rel="stylesheet" href="./styles.css" type="text/css">
</head>
<body>
    <section class="hero">
        <h3 class="hero-title">Vue Icons Preview</h3>
        <input type="search" placeholder="Search for icon..." id="search-input" autofocus>
    </section>
    <div id="results-container" class="icons-container" style="background-color: #D8C3B1;">

    </div>
    <div class="icons-container">
        <% for(var i=0; i < icons.length; i++) { %>
            <div class="icon-wrapper">
                <span><%= icons[i].split('/')[1].split('.')[0] %></span>
                <!-- <img src="<%= icons[i] %>" alt="<%= icons[i] %>"> -->
                <!-- <svg>
                    <use xlink:href="<%= icons[i] %>" style="--color_fill:red;"></use>
                </svg> -->
                <object data="<%= icons[i] %>" class="svg-object"> </object>
                <!-- <embed src="<%= icons[i] %>" class='embeded-svg'/> -->
            </div>
        <% } %>
    </div>

    <script>
        let placeholder = <%- JSON.stringify(icons) %>;
        let icons =[]
        let search_results = []
        let results_container = document.getElementById('results-container')
        let search_input = document.getElementById('search-input')
        const limit_count = 5
        placeholder.forEach(element => {
            icons.push({name:element.split('/')[1].split('.')[0], path:element})
        });
        
        delete placeholder
        let svg_objecst = document.getElementsByClassName('svg-object')
        const forceStylingObjSvg = (svg)=>{
            var svgDoc = svg.contentDocument;
            svgDoc.firstElementChild.setAttribute('fill','#B68E6D')
        }
        Array.from(svg_objecst).forEach((obj)=>{
            obj.addEventListener('load',()=>forceStylingObjSvg(obj))
            })
        const SearchFilter= <%- include('./search.js') %>;
        
        new SearchFilter(icons, search_input, results_container, 20).init()


      </script>
</body>
</html>